PORT=3000
FRONTEND_URL=http://localhost:4200

DATABASE_URL="mysql://root:@localhost:3306/jobiz_db"

ADMIN_COOKIE_SECRET="change_this_admin_cookie_secret"

JWT_SECRET="change_this_secret_for_production"
JWT_EXPIRES_IN="1d"